@import '../variables.scss';
@import '../font-style.scss';
@import '../functions.scss';

.footer {
    &__bandeau {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 20rem;
        color: $primary_Blue;
        margin: 0 auto;
        padding: py-(5rem);
        background-color: $backgroundColor;
    }

    &__newsletter {
        display: flex;
        justify-content: space-between;
        background-color: $primary_Blue;
        color: white;
        width: 80%;
        padding: 3rem;
        border-radius: 15px;

        p {
            font-size: 1.5rem;
            font-weight: 700;
            font-family: $GilroyMedium;
            width: 25%;
            margin: 0;
        }
    }

    &__input-container-newsletter {
        display: flex;
        width: 60%;
        background-color: white;
        align-items: center;
        justify-content: flex-end;
        border-radius: 10px;
        padding: 0.5rem;

        input {
            border: #99A2A5 solid 1px;
            border-radius: 5px;
            width: 80%;
            padding: 0.70rem;
            margin-right: 0.5rem;
        }
    }

    &__button-newsletter {
        @include primary;
        border-radius: 5px;
    }

    &__menu-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 5rem;
        border-bottom: #CCD1D2 solid 1px;
        padding: py-(2rem);

        .footer__menu {
            display: flex;
            font-family: $GilroyLight;

            &-list {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-item {
                margin-right: 2rem;
            }
        }

        .footer__contact {
            display: flex;

            &-list {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-item {
                margin-left: 1rem;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 5rem;
        font-family: $GilroyLight;
        padding-top: 1rem;

        img {
            width: 8rem;
            height: 6rem;
        }
    }

    &__policy {
        display: flex;
        justify-content: space-between;
        width: 20%;
        align-items: center;
        font-family: $GilroyLight;
    }
}